*{
   /* background: #eaf1f4;*/
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
   
}

body{
   
    background-image: url(./imagenes/enigma3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 12%;
}

main{
   display: flex;
    margin-bottom: 50px;
    margin-left: 50px; 
    width: 100%; 
    
}

.text-area{
    border: none;
    color: black;
    margin-top: 50px;
    text-transform: lowercase;
    resize: none;
    opacity: 0.9;
    border: 1px solid  rgb(223, 238, 165);
    overflow:hidden;
    margin-bottom:300px;
    display:block; 
    text-align: center;
}

::placeholder{
    background: rgb(20, 45, 20);
    text-align: center;
}

.text-area:focus{
    outline: none;
}

.mensaje{
    background:white;
    background-image: url("imagenes/descifrando2.jpg");
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 24px;
    color: rgb(15, 74, 31);
    margin-left: 108px;
    margin-top: 20px;
    padding-left: 60px;
    padding-top: 20px;
    position:absolute;
    resize: none;
    text-align: start;

    /*Firefox 3.6*/
    -moz-background-size: 100% 100%;
    /*opera*/
    -o-background-size: 100% 100%; 
     /*Safari*/
    -webkit-background-size: 100% 100%;
    /*estandar css3*/
    background-size: 100% 100%; 

}


.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 8px;
}

.btn-desencriptar{
    background: rgb(20, 45, 20);
    border: 1px solid  rgb(223, 238, 165);
    border-radius: 24px;
    color: rgb(223, 238, 165);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 320px;
    transition: 1s all;
}

.btn-encriptar{
    background: rgb(20, 45, 20);
    border: 1px solid  rgb(223, 238, 165);
    border-radius: 24px;
    color: rgb(223, 238, 165);
    cursor: pointer;
    height: 67px;
    width: 328px;
    transition: 1s all;
}


.btn-copiar{
    border: 1px solid  rgb(223, 238, 165);
    border-radius: 24px;
    color: rgb(223, 238, 165);
    cursor:pointer;
    height: 67px;
    margin-left: 132px;
    margin-top: 402px;
    position:absolute;
    width:350px;
    background: rgb(20, 45, 20);
    text-align: center;
    transition: 1s all;
}

.btn-copiar:hover,.btn-desencriptar:hover, .btn-encriptar:hover{
    transform: scale(0.9);
}

.informacion{
    font-size: 18px;
    color: azure;
    margin-bottom: 5px;
}

.footer{
    background-color: rgba(29, 32, 29, 0.915);
    height: 80px;
    margin: 0px;
    width: 100%;
    text-align: center;
    color: white;
  
}


@media screen and (max-width:1024px){
    body{
        background-color: red;
        background-image: url(./imagenes/enigma10.jpg);
       
    }

    main{
        display:flex;
        flex-direction: column;
        margin-left: 50px;
        
    }
    .primer{
        margin: 1% 0;
          width: 100%;
      }
      .mensaje{
          width: 75%;
          margin: 1% 0;
         
      }
      .botones{
        width: 100%;
        margin-left: auto;
      }
      .btn-copiar{
        margin-left: 100px;
        width: 550px;
    }
    .text-area{
        width: 90%;
        margin-bottom: 30px;
    }

    .footer{
        background-color: rgba(29, 32, 29, 0.915);
        margin-top: 600px;
        height: 80px;
    }
 }


 
@media screen and (max-width:800px){
    body{
        background-color: blue;
        background-image: url(./imagenes/enigma6.jpg);
       
    }

    main{
        display:flex;
        flex-direction: column;
        margin-left: 10px;
        
    }
    .primer{
      margin: 1% 0;
        width: 90%;
    }
    .mensaje{
        width: 75%;
        margin: 1% 0;
        margin-bottom: 50px;
    }

    .text-area{
        width: 100%;
    }

    .btn-copiar{
        margin-left: 70px;
        width: 60%;
    }

    ::placeholder{
        background: rgb(10, 10, 10);
        text-align: center;
        color: white;
    }
    
    
    .footer{
        background-color: rgba(29, 32, 29, 0.915);
        margin-top: 600px;
        height: 80px;
    
    }

    .footer p{
        font-size: 20px;
    }

    .footer span{
        font-size: 20px;
    }

    
}